body {
    background-color: #3C3C3C;
    color: aliceblue;
}

#loop-pads {
    background-color: #4C4C4C;
    min-width: 100wh;
    min-height: calc(100vh*0.9);
}

button {
    background-color: #4C4C4C;
    height: 4em;
    width: 2em;
}

#util-buttons button {
    width: 4em;
    border-radius: 25%;
}

.activated {
    background-color: aquamarine;
}

.deactivated {
    background-color: cadetblue;
}